table {
    width: 70%;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 10px;
    table-layout: fixed;
    color: blue;
}
th {
    font-size: 20px;
}
table, th, td {
    border: 1px solid #000000;
}
td {
    padding: 12px;
    color: rgb(7, 4, 4);
    font-size: 20px;
    text-align: center;

}
